
.column {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.smallGap {
    gap: 28px !important;
}

.centerAligned {
    align-items: center;
}
