@import "@stylesheets/colors.styles.scss";

html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: $background;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0px;
    padding: 0px;
}

#root {
    position: relative;
    -webkit-overflow-scrolling: touch;
    min-height: 100vh;
}

/**
 * Hide the react-refresh error overlay.
 */
#react-refresh-overlay {
    display: none !important;
}
